@import "tailwindcss";

body {
  background: #111111;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #111;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
}